src/main/java/de/medieninformatik/Music.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://www.medieninformatik.de/XMLAnwendung"
           xmlns:music="http://www.medieninformatik.de/XMLAnwendung"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="artist" type="xs:string"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="album">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="music:artist"/>
                <xs:element ref="music:title"/>
                <xs:element ref="music:songs"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="songs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="music:song" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="song">
        <xs:complexType>
            <xs:simpleContent> <!-- Enthält keine Elemente, nur Text -->
                <!-- Neuer Typ erweitert String -->
                <xs:extension base="xs:string"/>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>